.wipp-pluginCreatorSidebar {
    background: var(--jp-layout-color1);
    color: var(--jp-ui-font-color1);
    font-size: var(--jp-ui-font-size1);
    overflow: auto;
  }

.wipp-pluginCreatorSidebar button.run
{
    color: #000000;
    background-color: var(--jp-brand-color2);
    border: 1px solid var(--jp-brand-color2);
    text-transform: uppercase;
}